# Database Settings (Docker will use these to create the DB)
DB_USER=engincan
DB_PASSWORD=astakip_sifre_123
DB_NAME=enverer_db

# Frontend Settings
# Replace with your server IP (e.g., http://77.245.155.178:3000)
VITE_API_URL=http://your_server_ip:3000
VITE_GOOGLE_MAPS_API_KEY=your_google_maps_api_key
